<p>Nome: {{this.auth.getutenteCorrente().nome}}</p>
<p>Cognome: {{this.auth.getutenteCorrente().cognome}}</p>
<p>Email: {{this.auth.getutenteCorrente().email}}</p>
<p>Password: {{this.auth.getutenteCorrente().posizione}}</p>
<p>Telefono: {{this.auth.getutenteCorrente().telefono}}</p>

<div>
    <h1>Articoli in vendita:</h1>
    <div class="bordo">

      <div class="bordo-article" *ngFor="let prodotto of prodotti" >
        <div (click)="prendiAnnuncio(prodotto.id)">

          <div *ngIf="prodotto.immagini && prodotto.immagini[1] !== undefined; else erroreFoto">
            <img *ngIf="prodotto.immagini" [src]="prodotto.immagini[0].image" >
          </div>
          <ng-template #erroreFoto>
            <img src="assets/NoImage.jpg">
          </ng-template>

          <h2>{{ prodotto.nomeProdotto }}</h2>
          <p>Taglia: {{ prodotto.taglia }}</p>
          <p>Prezzo: {{ prodotto.prezzo }} €</p>

        </div>

      </div>
    </div>
  </div>
