<div class="container">
  <div class="spazio-imm">

      <img class="imm1" src="{{ottieniFoto(0)}}">
      <!--NON FUNZIONA il div manda a capo
      <div *ngFor="let valore of [1, 2, 3, 4, 5, 6, 7]">
          <img (click)="cambiaImmPrin(valore)" class="imm2" src="{{ottieniFoto(valore)}}">
      </div>
      -->

      <img (click)="cambiaImmPrin(1)" class="imm2" src="{{ottieniFoto(1)}}">
      <img (click)="cambiaImmPrin(2)" class="imm2" src="{{ottieniFoto(2)}}">
      <img (click)="cambiaImmPrin(3)" class="imm2" src="{{ottieniFoto(3)}}">
      <img (click)="cambiaImmPrin(4)" class="imm2" src="{{ottieniFoto(4)}}">
      <img (click)="cambiaImmPrin(5)" class="imm2" src="{{ottieniFoto(5)}}">
      <img (click)="cambiaImmPrin(6)" class="imm2" src="{{ottieniFoto(6)}}">
      <img (click)="cambiaImmPrin(7)" class="imm2" src="{{ottieniFoto(7)}}">

  </div>


  <div class="testo">
    <h1 style="font-weight: bolder;">{{ prodotto.nomeProdotto }}</h1>
    <!--
    <h4>Categoria: {{prodotto.categoria}}</h4>
    -->
    <p class="titolo">Prezzo:</p>
    <p class="des">{{ prodotto.prezzo }}</p>
    <!--
    <p>Taglia: {{ prodotto.taglia }}</p>
    <p>Condizione: {{prodotto.condizione}}</p>
    <p>Colore: {{prodotto.colore}}</p>
    <p>Brand: {{prodotto.brand}}</p>
    -->
    <p class="titolo">Descrizione: </p>
    <p class="des">{{prodotto.descrizione}}</p>

    <!--<p>Venditore id: {{prodotto.venditoreId}}</p>-->



    <button *ngIf="prodotto.venditoreId !== auth.getUtenteCorrente().id" (click)="addCart(prodotto.id)">Aggiungi al carrello</button>
    <p *ngIf="prodottoAggiunto">Il prodotto è stato aggiunto</p>

    <!-- Mostra i bottoni solo se l'ID del prodotto corrisponde all'ID dell'utente corrente -->
    <button *ngIf="prodotto.venditoreId === auth.getUtenteCorrente().id" (click)="confermaEliminazione(prodotto.id)">Elimina annuncio</button>
    <button *ngIf="prodotto.venditoreId === auth.getUtenteCorrente().id" (click)="modificaAnnuncio(prodotto.id)">Modifica annuncio</button>

  </div>

  <!--Venditore-->
  <!--
    <h1 style="font-weight: bolder;">Venditore:</h1>
    <p>{{utente.nome}} {{utente.cognome}}</p>
    <h4>Contatti:</h4>
    <p>Telefono: {{utente.telefono}}</p>
    <p>Email: {{utente.email}}</p>
  -->
  <div class="bordo" *ngIf="prodotto.venditoreId !== auth.getUtenteCorrente().id && auth.isAuthenticated()" >

    <form [formGroup]="formAggMes" (ngSubmit)="onSubmit()">
      <button type="submit">Contatta L'utente</button>
      <input type="text" placeholder="Type a message... " formControlName="nuovoMessaggio">
    </form>

  </div>

  <div class="bordo" *ngIf="!auth.isAuthenticated()" >
    <h1 style="font-weight: bolder">Accedi per contattare l'utente</h1>
  </div>





  <!--Altri prodotti del venditore-->
  <div class="bordo" *ngIf="prodotto.venditoreId !== auth.getUtenteCorrente().id">
    <h1 style="font-weight: bolder;">Altri annunci del venditore:</h1>
    <div class="bordo-article" *ngFor="let prodotto of prodotti">
      <div (click)="prendiAnnuncio(prodotto.id)">
        <div *ngIf="prodotto.images && prodotto.images[0] !== undefined; else erroreFoto">
          <img *ngIf="prodotto.images[0]" src="{{toUrl(prodotto.images[0].image)}}" >
        </div>
        <ng-template #erroreFoto>
          <img src="assets/NoImage.jpg">
        </ng-template>
        <h2>{{ prodotto.nomeProdotto }}</h2>
          <!--<p>Taglia: {{ prodotto.taglia }}</p>-->
        <p>Prezzo: {{ prodotto.prezzo }} €</p>
      </div>
    </div>
    <div class="bordo-article" *ngIf="prodotti.length === 0">
      <p>Non ci sono annunci al momento.</p>
    </div>
  </div>


  <!--Recensioni del venditore-->
  <div class="bordo" *ngIf="prodotto.venditoreId !== auth.getUtenteCorrente().id">
    <h1 style="font-weight: bolder;">Le recensioni di questo venditore:</h1>
      <div class="bordo-article" *ngFor="let rec of recensioni" >
          <p>{{rec.autoreId}}</p>
          <p>{{rec.valutazione}}</p>
          <p>{{rec.commento}}
      </div>
      <p *ngIf="recensioni.length === 0">Il venditore non ha recensioni.</p>
  </div>


</div>

