.statica{
  text-align: center;
  justify-content: center;
  margin: 20%;
  font-size: large;
}

.titolo{
  text-align: center;
  font-style: oblique;
  font-weight: bold;
  font-size: 1cm;
}

.corpo p{
  margin: 10px;
}

