.mat-card {
  width: 100%;
  margin-bottom: 30px;
}

.mat-card-image {
  height: 250px;
  object-fit: cover;
}

.mat-card-content {
  padding: 16px;
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

.mat-grid-list {
  margin-top: 20px;
}

@media screen and (min-width: 600px) {
  .mat-card {
    width: 45%;
  }
}


