<!--
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homepage Vinted</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Vinted</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Donna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Uomo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Bambini</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Cerca" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerca</button>
      </form>
    </div>
  </nav>
  <main role="main" class="container">
    <div class="jumbotron">
      <h1 class="display-4">Scopri gli ultimi capi d'abbigliamento</h1>
      <p class="lead">Acquista e vendi abiti di seconda mano sul nostro sito.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Acquista ora</a>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/350x250" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Vestito lungo</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#" class="btn btn-primary">Acquista</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/350x250" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Maglione</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
-->

<mat-card (click)="cliccato()">
  <mat-card-header>
    <mat-card-title>Prodotti in evidenza</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="350px" gutterSize="20px">
      <mat-grid-tile *ngFor="let product of products">
        <mat-card >
          <img mat-card-image src="{{product.imageUrl}}">
          <mat-card-content>
            <mat-card-title>{{product.title}}</mat-card-title>
            <mat-card-subtitle>{{product.price}}</mat-card-subtitle>
            <p>{{product.description}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="carrello()">Aggiungi al carrello</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
