<!--CARD DINAMICHE-->



<div class="bordo">
  <h1>Articoli più richiesti:</h1>


  <div class="bordo-article" *ngFor="let prodotto of prodotti" >
    <div (click)="prendiAnnuncio(prodotto.id)">

      <div *ngIf="prodotto.images && prodotto.images[0] !== undefined; else erroreFoto">
        <img *ngIf="prodotto.images[0]" src="{{toUrl(prodotto.images[0].image)}}" >
      </div>
      <ng-template #erroreFoto>
        <img src="assets/NoImage.jpg">
      </ng-template>

      <h1 style="font-weight: bold;">{{ prodotto.nomeProdotto }}</h1>
      <!--<p>Taglia: {{ prodotto.taglia }}</p>-->
      <p>Prezzo: {{ prodotto.prezzo }} €</p>

    </div>

  </div>
</div>



<!-- CARD STATICHE
<mat-card (click)="cliccato()">
  <mat-card-header>
    <mat-card-title>Prodotti in evidenza</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="350px" gutterSize="20px">
      <mat-grid-tile *ngFor="let product of products">
        <mat-card >
          <img mat-card-image src="{{product.imageUrl}}">
          <mat-card-content>
            <mat-card-title>{{product.title}}</mat-card-title>
            <mat-card-subtitle>{{product.price}}</mat-card-subtitle>
            <p>{{product.description}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button class="aggiungi" mat-button (click)="carrello()">Aggiungi al carrello</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
-->
