<html>
  <head>
    <title>Carrello</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <!-- Header della pagina -->
    <div id="header">
      <h1>Il tuo carrello</h1>
    </div>

    <!-- Lista dei prodotti nel carrello -->

    <div  *ngFor="let prodotto of prodotti; let i = index">
      <div id="cart-items">
        <div class="cart-item">

          <div *ngIf="prodotto.images && prodotto.images[0] !== undefined; else erroreFoto">
            <img *ngIf="prodotto.images[0]" src="{{toUrl(prodotto.images[0].image)}}" >
          </div>
          <ng-template #erroreFoto>
            <img src="assets/NoImage.jpg">
          </ng-template>

          <div>
            <h3>{{prodotto.nomeProdotto}}</h3>
            <p>Prezzo: €{{prodotto.prezzo}}</p>
            <button (click)="eliminaArticolo(i)">Elimina</button>
            <button (click)="acquistaSubito(i)">Acquista subito</button>
          </div>
        </div>
     
      </div>
    </div>

    <h1 *ngIf="prodotti.length === 0">Non hai nessun prodotto nel carrello</h1>



    <!-- Pulsante per effettuare il checkout -->
    <div id="checkout">
      <p>Totale: €{{totale}}</p>
      <button (click)="acquistaSubitoTutti()" >Effettua il checkout</button>
    </div>
  </body>
</html>
