<!--
<div class="chat-container">

    <div class="column-contact" *ngFor="let messaggio of messaggi">
        <div class="contact-box">

          <p>{{messaggio.mittenteNome}}</p>

        </div>
    </div>

    <div class="column-message" *ngFor="let messaggio of messaggi">
      <div class="message-box" >

          <p class="sender">{{messaggio.mittenteNome}}</p>
          <p class="text">{{messaggio.mittenteNome}}</p>

      </div>
    </div>

</div>
-->
  

  <div class="chat-container">
    <div class="sidebar">
      <div class="header">
        <h1>Contatti</h1>
      </div>

  

      <div class="contacts" *ngFor="let contatto of contatti">
        <div class="contact">
          <!--<img src="avatar1.jpg" alt="Avatar" class="avatar">-->
          <div class="contact-info">
            <button (click)="cambiaChat(contatto)">{{contatto.nome}}</button>
            <!--<h2>{{contatto.nome}}</h2>-->
            <!--<p>Are you free tomorrow?</p>-->
          </div>
        </div>
      </div>

    </div>
    <div class="chat">
      <div class="header">
        <h1>{{contattoCorrente.nome}}</h1>
      </div>


      <div class="messages">
        <div *ngFor="let messs of chat">
          <div class="message received"  *ngIf="messs.destinatarioId == auth.getUtenteCorrente().id">
            <h3>{{messs.testo}}</h3>
            <p>{{ messs.dataInvio ? messs.dataInvio : 'Adesso' }}</p>
          
            
          </div>
          <div class="message sent" *ngIf="messs.destinatarioId == contattoCorrente.id">
            <p>{{ messs.dataInvio ? messs.dataInvio : 'Adesso' }}</p>
            <h3>{{messs.testo}}</h3>
            
          </div>
        </div>
      </div>

      
      <form [formGroup]="formAggMes" (ngSubmit)="onSubmit()">
        <div class="input-box">
          <input type="text" placeholder="Type a message..." formControlName="nuovoMessaggio">
          <button type="submit" >Send</button>
        </div>
      </form>
    </div>
  </div>

