<p>chat works!</p>





<div *ngFor="let messaggio of messaggi" >
    <p>Messaggio: {{ messaggio.testo }} €</p>
</div>

<div class="chat-container">
    <div class="column">
      <ul class="contact-list">
        <li class="contact-item">Contatto 1</li>
        <li class="contact-item">Contatto 2</li>
        <li class="contact-item">Contatto 3</li>
        <li class="contact-item">Contatto 1</li>
        <li class="contact-item">Contatto 2</li>
        <li class="contact-item">Contatto 3</li>
        <li class="contact-item">Contatto 1</li>
        <li class="contact-item">Contatto 2</li>
        <li class="contact-item">Contatto 3</li>
        <!-- Aggiungi altri nomi dei contatti qui -->
      </ul>
    </div>
    <div class="column">
      <div class="message-box">
        <div class="message">
          <div class="sender">Mittente 1</div>
          <div class="text">Messaggio 1</div>
        </div>
        <div class="message">
          <div class="sender">Mittente 2</div>
          <div class="text">Messaggio 2</div>
        </div>
        <div class="message">
            <div class="sender">Mittente 1</div>
            <div class="text">Messaggio 1</div>
          </div>
          <div class="message">
            <div class="sender">Mittente 2</div>
            <div class="text">Messaggio 2</div>
          </div>
          <div class="message">
            <div class="sender">Mittente 1</div>
            <div class="text">Messaggio 1</div>
          </div>
          <div class="message">
            <div class="sender">Mittente 2</div>
            <div class="text">Messaggio 2</div>
          </div>
        <!-- Aggiungi altri messaggi qui -->
      </div>
    </div>
  </div>
  