/*.chat-container { display: flex; margin: 2%; }


.column-contact { align-items: flex-end; width: 25%; background-color: #f2f2f2; }

.column-message { align-items: flex-end; width: 65%; background-color: #f2f2f2; }



.contact-box { align-items: flex-end; border: 1px solid #ccc; border-radius: 0.5rem; }

.message-box { align-items: flex-end; border: 1px solid #ccc; border-radius: 0.5rem; }



.sender { font-weight: bold; }

.text { margin-top: 5px; }

*/
body {
  font-family: Arial, sans-serif;
}

.chat-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  flex: 1;
  background-color: #f2f2f2;
  padding: 20px;
}

.chat {
  flex: 3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}

.header {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  font-weight: bolder;
  text-transform: uppercase;
}

.contacts {
  margin-top: 20px;
}

.contact {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

/* .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
} */

.contact-info {
  flex: 1;
}

.messages {
  flex: 1;
  overflow-y: auto;
}

.message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.received {
  justify-content: flex-start;
}

.sent {
  justify-content: flex-end;
}

.message h3 {
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
  font-weight: bold;
  font-size: 20px;
  border: #007782;
}

.message p {
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
  font-size: 10px;
  border-color: #007782;
}

.input-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007782;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  background-color: #029dab;
}

