/*#vinted{
  font-size: 1cm;
  font-style: oblique;
  color: #41b883;

}*/

button{
  height: 50px;
  width: 100px;
  background-color: transparent;
  color: #000000; /* si può modificare il colore del testo */
  border-color: transparent;
}

button img{
  max-width:  100%;
  max-height: 100%;
}

.src{
  width: fit-content;
  height: fit-content;
}

mat-form-field{
  width: 80%;
}

.mat-toolbar {
  height: 64px;
}

.spacer {
  flex: 1 1 auto;
}

.Bprofilo {
  width: fit-content ;
}


mat-list{
  display: flex;
}

.filtro button:hover {
  cursor: pointer;
  background-color: lightgrey;
  border-radius: 5px;

}

.mat-card {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
}

.mat-card-image {
  height: 250px;
  object-fit: cover;
}

.mat-card-content {
  padding: 16px;
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

.mat-grid-list {
  margin-top: 20px;
}

@media screen and (min-width: 600px) {
  .mat-card {
    width: 45%;
  }
}

footer { position:relative; bottom: 0; left: 0; width: 100%; height: 200px; background-color: grey; text-align: center; }
footer mat-card { width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; }
footer mat-list { display: flex; justify-content: space-around; align-items: center; width: 100%;}
footer mat-list-item { font-size: 1rem; font-weight: bold; color: white; cursor: pointer; transition: all 0.2s ease-in-out; border-radius: 5px; width: 150px;}
footer mat-list-item:hover { background-color: white; color: black; }
footer mat-list-item.active { background-color: white; color: black; }


