<!--BARRA SUPERIORE-->
<mat-toolbar>
  <!--LOGO E BARRA DI RICERCA CON BOTTONE-->
  <mat-toolbar-row>
    <button mat-button routerLink="home" style="border-radius: 5px;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Vinted_logo.png/1024px-Vinted_logo.png"></button>
    <span class="spacer"></span>
    <mat-form-field>
      <input matInput placeholder="Cerca articoli">
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>

    <!--BOTTONE VENDI-->
    <button mat-menu-item routerLink="aggiungi-annuncio" style="border-radius: 5px;" >
      Vendi
    </button>

    <!--MESSAGGISTICA-->

    <!--usare matBadge per prendere in modo dinamico il numero delle notifiche-->

    <!-- <button mat-icon-button *ngIf="service.badgeValue > 0" (click)="service.azzeraNumero()" routerLink="chat">
      <mat-icon matBadge="{{service.badgeValue}}" matBadgeColor="warn">email</mat-icon>
    </button> -->

    <button mat-icon-button routerLink="chat" >
      <mat-icon>email</mat-icon>
    </button>


    <!--MENU PROFILO-->
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      
      <button class="Bprofilo" mat-menu-item routerLink="profilo" *ngIf="this.auth.isAuthenticated()">
        <mat-icon>manage_accounts</mat-icon>
        <span>Profilo</span>
      </button>
      <button class="Bprofilo" mat-menu-item routerLink="accedi" *ngIf="!this.auth.isAuthenticated()">
        <mat-icon>manage_accounts</mat-icon>
        <span>Accedi</span>
      </button>
      <button class="Bprofilo" mat-menu-item routerLink="registrati" *ngIf="!this.auth.isAuthenticated()">
        <mat-icon>manage_accounts</mat-icon>
        <span>Registrati</span>
      </button>
      <button class="Bprofilo" mat-menu-item routerLink="home" (click)="this.auth.esci()" *ngIf="this.auth.isAuthenticated()">
        <mat-icon>logout</mat-icon>
        <span>Esci</span>
      </button>
    </mat-menu>

    <!--BOTTONE CARRELLO-->
    <button mat-icon-button routerLink="carrello" >
      <mat-icon>shopping_cart</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>

  <mat-card-content>
    <router-outlet></router-outlet>
  </mat-card-content>


<!--FOOTER-->
<footer>
  <mat-card style="background-color: #007782;">
    <mat-card-content>
      <mat-list style="display: flex;">
        <mat-list-item role="listitem" routerLink="chi-siamo">Chi siamo</mat-list-item>
        <mat-list-item role="listitem" routerLink="privacy">Privacy</mat-list-item>
        <mat-list-item role="listitem" routerLink="come-funziona">Come Funziona</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</footer>
