<!--BARRA SUPERIORE-->
<mat-toolbar>
  <!--LOGO E BARRA DI RICERCA CON BOTTONE-->
  <mat-toolbar-row>
    <button mat-button routerLink="home" style="border-radius: 5px;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Vinted_logo.png/1024px-Vinted_logo.png"></button>
    <span class="spacer"></span>
    <mat-form-field>
      <input matInput placeholder="Cerca articoli">
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>

    <!--BOTTONE VENDI-->
    <button mat-menu-item routerLink="aggiungi-annuncio" style="border-radius: 5px;">
      Vendi
    </button>

    <!--MESSAGGISTICA-->
    <!--usare matBadge per prendere in modo dinamico il numero delle notifiche-->

    <button mat-icon-button *ngIf="service.badgeValue > 0" routerLink="messaggistica" (click) = "service.azzeraNumero()">
      <mat-icon matBadge="{{service.badgeValue}}" matBadgeColor="warn">email</mat-icon>
    </button>

    <button mat-icon-button *ngIf="service.badgeValue == 0" routerLink="messaggistica">
      <mat-icon>email</mat-icon>
    </button>


    <!--MENU PROFILO-->
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button class="Bprofilo" mat-menu-item routerLink="profilo">
        <mat-icon>manage_accounts</mat-icon>
        <span>Profilo</span>
      </button>
      <button class="Bprofilo" mat-menu-item routerLink="accedi">
        <mat-icon>manage_accounts</mat-icon>
        <span>Accedi</span>
      </button>
      <button class="Bprofilo" mat-menu-item routerLink="registrati">
        <mat-icon>manage_accounts</mat-icon>
        <span>Registrati</span>
      </button>
      <button class="Bprofilo" mat-menu-item routerLink="home">
        <mat-icon>logout</mat-icon>
        <span>Esci</span>
      </button>
    </mat-menu>

    <!--BOTTONE CARRELLO-->
    <button mat-icon-button routerLink="carrello">
      <mat-icon>shopping_cart</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>

<!--BOTTONI FILTRI-->
<mat-card>
  <mat-card-header>
    <mat-card-title>Categorie</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list class="filtro">
      <button role="listitem" routerLink="">Abbigliamento</button>
      <button role="listitem" routerLink="">Scarpe</button>
      <button role="listitem" routerLink="">Accessori</button>
      <button role="listitem" routerLink="">Elettronica</button>
      <button role="listitem" routerLink="">Libri</button>
      <button role="listitem" routerLink="">Sport</button>
      <button role="listitem" routerLink="">Casa</button>
    </mat-list>
  </mat-card-content>

  <mat-card-content>
    <router-outlet></router-outlet>
  </mat-card-content>

</mat-card>

<!--FOOTER-->
<footer>
  <mat-card style="background-color: #007782;">
    <mat-card-content>
      <mat-list style="display: flex;">
        <mat-list-item role="listitem" routerLink="chi-siamo">Chi siamo</mat-list-item>
        <mat-list-item role="listitem" routerLink="privacy">Privacy</mat-list-item>
        <mat-list-item role="listitem" routerLink="come-funziona">Come Funziona</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</footer>
