<mat-card>
  <mat-card-header>
    <mat-card-title>Casella di Posta Elettronica</mat-card-title>
  </mat-card-header>
  <br>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-nav-list>
      <button class="messaggi" *ngFor="let email of emails" (click)="toggleEmailBody(email); diminuisciBadge()">
        <div mat-line class="email-header">
          <div class="sender">{{ email.destinatario }}</div>
          <div class="timestamp">{{ email.timestamp }}</div>
        </div>
        <div mat-line class="email-subject">{{ email.oggetto }}</div>
        <div mat-line *ngIf="email.expanded" class="email-body">{{ email.corpo }}</div>
      </button>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
